* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
h2 {
    background: #032aa7;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100vw;
}

/* Inputs */
input {
    width: 220px;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Botões */
button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #1976D2;
}

/* Resultado */
#resultado {
    margin: 5px;
    font-weight: bold;
    color: #333;
}

/* Lista do dicionário */
#lista {
    margin-top: 15px;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* Cada item */
#lista p {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.bloco {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}